```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
.MF
tags
TAGS
id
.pytest_cache/
.hypothesis/

# Generated assets
store/assets/app-icon-playstore-1024.png
store/assets/app-icon-playstore-512.png
store/assets/feature-graphic-1024x500.png
store/assets/screenshots/chromebook/screenshot_1.png
store/assets/screenshots/chromebook/screenshot_2.png
store/assets/screenshots/chromebook/screenshot_3.png
store/assets/screenshots/chromebook/screenshot_4.png
store/assets/screenshots/phone/screenshot_1.png
store/assets/screenshots/phone/screenshot_2.png
store/assets/screenshots/phone/screenshot_3.png
store/assets/screenshots/phone/screenshot_4.png
store/assets/screenshots/phone/screenshot_5.png
store/assets/screenshots/phone/screenshot_6.png
store/assets/screenshots/tablet-10/screenshot_1.png
store/assets/screenshots/tablet-10/screenshot_2.png
store/assets/screenshots/tablet-10/screenshot_3.png
store/assets/screenshots/tablet-10/screenshot_4.png
store/assets/screenshots/tablet-7/screenshot_1.png
store/assets/screenshots/tablet-7/screenshot_2.png
store/assets/screenshots/tablet-7/screenshot_3.png
store/assets/screenshots/tablet-7/screenshot_4.png
```